# Build results
bin/
obj/
*.exe
*.dll
*.pdb
*.msi
*.wixpdb

# User-specific files
*.user
*.suo
.vs/

# OS files
*.DS_Store
Thumbs.db

# Local data
*DiffApp/leftfile.txt

# Test files
test/

# Deployment folder
deployment/

# Temporary files
*.tmp
*.temp

# Windows icon placeholder
diff-icon.ico